body {
  background-color: #dcd3b8;
}

/* HEADER */
.top-bar {
  background-color: #b0303b;
  color: #f4e8c1;
  padding: 15px 40px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo { width: 50px; }

.layout { display: flex; }

/* SIDEBAR */
.sidebar {
  width: 230px;
  background-color: #b0303b;
  color: white;
  padding: 30px 20px;
  min-height: 100vh;
  border-radius: 0 30px 30px 0;
}

.sidebar-title { margin-bottom: 30px; }

.sidebar ul { list-style: none; }

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar li:hover,
.sidebar .active {
  background-color: #d98989;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 35px 40px;
}

/* PAGE HEAD */
.page-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #b0303b;
}

.title h2 {
  font-size: 40px;
  font-weight: 900;
}

.right-controls {
  display: flex;
  gap: 16px;
  align-items: center;
}

.filter-btn {
  background: #e8d79f;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  color: #b0303b;
}

.search-box {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.25);
  padding: 10px 16px;
  border-radius: 22px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
}

/* TABLE CARD */
.table-card {
  background: rgba(217,137,137,0.92);
  border-radius: 22px;
  padding: 22px;
  position: relative;
}

.table-watermark {
  position: absolute;
  inset: 0;
  background: url("../assets/images/logo.png") center no-repeat;
  background-size: 560px;
  opacity: 0.09;
  pointer-events: none;
}

.pay-table {
  width: 100%;
  border-collapse: collapse;
  color: #f4e8c1;
  font-weight: 800;
}

.pay-table th,
.pay-table td {
  padding: 18px 10px;
  border-top: 3px solid rgba(244,232,193,0.75);
}

.period span {
  margin-left: 10px;
}

.actions button {
  background: #e8d79f;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.actions {
  white-space: nowrap;
  min-width: 100px;
}

.pagination {
  text-align: right;
  margin-top: 15px;
  font-weight: bold;
  color: #b0303b;
}

/* BOTTOM BUTTONS */
.bottom-actions {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.action-btn {
  background: #b0303b;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}